:root {
    --color-blue: #208BFC;
    --color-dark-blue: #04478D;
    --color-black: #1A2A3E;
    --color-white: #FAFAFA;
  }
  @font-face {
    font-family: 'CoFoSans';
    src: url(../fonts/CoFoSansRegular.ttf);
    font-weight: 400;
  }
  @font-face {
    font-family: 'CoFoSans';
    src: url(../fonts/CoFoSansMedium.ttf);
    font-weight: 500;
  }
  @font-face {
    font-family: 'CoFoSans';
    src: url(../fonts/CoFoSansBold.ttf);
    font-weight: 600;
  }
  
  body {
    width: 100%;
    font-family: 'CoFoSans';
  }

  /* ---------- header ------------ */

  header .contains {
    width: 100%;
    max-width: 1281px;
    margin: 0 auto;
    padding: 0 50px;
    overflow: hidden;
  }
  .menu {
    padding-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .logo {
    width: 300px;
    height: 28px;
  }
  .menu-left {
    display: flex;
    align-items: center;
  }
  .menu-right {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 17px;
  }
  .ul-top {
    display: flex;
    justify-content: space-between;
    gap: 24px;
    list-style-type: none;
  }
  .ul-top a {
    color: var(--color-dark-blue);
    font-size: 20px;
    font-weight: 500;
  }
  .menu-active {
    border-bottom: 2px solid var(--color-dark-blue);
  }
  .btn {
    padding: 18px 24px;
    font-size: 18px;
    font-weight: 700;
    cursor: pointer;
    color: var(--color-white);
    background-color: var(--color-blue);
    border: none;
    border-radius: 8px;
  }
  .btn a {
    color: var(--color-white);
  }
  .header-box {
    padding: 140px 0;
  }
  .header-box-top {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .header-title h1 {
    font-size: 50px;
    font-weight: 400;
    text-transform: uppercase;
    max-width: 600px;
  }
  .header-description p {
    font-size: 32px;
    font-weight: 400;
    text-transform: uppercase;
    max-width: 550px;
  }
  .header-text p {
    font-size: 24px;
    font-weight: 400;
    text-transform: uppercase;
  }
  .header-box-bottom {
    padding-top: 60px;
  }
  .background {
    position: relative;
    color: var(--color-white);
    background-image: url(../img/foto.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    z-index: 0;
  } 
  .background::after {
    content: '';
    position: absolute;
    filter: blur(100px) opacity(95%);
    background: var(--color-dark-blue);
    top: -150px;
    left: -50px;
    width: 50%;
    height: 100%;
    z-index: -1;
  }
  
   /* ---------- advantage ------------ */

   .advantage .contains {
    width: 100%;
    max-width: 1281px;
    margin: 0 auto;
    padding: 0 110px;
    overflow: hidden;
  }
  .advantage-box {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    row-gap: 10px;
    padding-top: 48px;
  }
  .advantage-item {
    position: relative;
    padding: 14px 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 12px;
    width: calc(100%/4);
    min-width: 240px;
  }
  .advantage-item::after {
    position: absolute;
    content: '';
    width: 1px;
    height: 100%;
    background: var(--color-blue);
    right: 0;
  }
  .advantage-item:last-child::after {
    display: none;
  }
  .advantage-item-head {
    font-size: 64px;
    font-weight: 400;
    color: var(--color-blue);
  }
  .advantage-item-description {
    padding: 0 30px;
    font-size: 16px;
    font-weight: 400;
    color: var(--color-black);
  }

   /* ---------- partners ------------ */
  
   .partners .contains {
    width: 100%;
    max-width: 1281px;
    margin: 0 auto;
    padding: 0 50px;
    overflow: hidden;
  }
  .partners-header {
    padding-top: 65px;
  }
  .partners-header h2 {
    font-size: 48px;
    font-weight: 500;
    text-align: center;
    text-transform: uppercase;
    color: var(--color-blue);
  }
  .partners-box {
    padding-top: 16px;
    overflow: hidden;
  }
  .partners-content {
    display: flex;
    justify-content: start;
    flex-wrap: nowrap;
    align-items: center;
    gap: 25px;
    width: 3000px;
  }
  .partners-item {
    position: relative;
    text-align: center;
    border: 5px solid var(--color-blue);
    border-radius: 10px;
    width: 180px;
    height: 100px;
    overflow: hidden;
  }
  .partners-item img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

    /* ---------- about ------------ */
  
    .about .contains {
      width: 100%;
      max-width: 1265px;
      margin: 0 auto;
      padding: 0 50px;
      overflow: hidden;
    }
    .about-header {
      padding-top: 50px;
    }
    .about-header h2 {
      font-size: 48px;
      font-weight: 500;
      text-align: center;
      text-transform: uppercase;
      color: var(--color-blue);
    }
    .about-box {
      display: flex;
      flex-direction: column;
      gap: 25px;
    }
    .about-box-text {
      padding-top: 5px;
      text-align: center;
      font-size: 24px;
      font-weight: 400;
      max-width: 1160px;
      color: var(--color-black);
    }
    .about-box-slabs {
      display: flex;
      flex-wrap: wrap;
      gap: 22px;
      justify-content: center;
    }
    .slab-item {
      padding: 32px 5px;
      display: flex;
      flex-direction: column;
      gap: 20px;
      width: calc((100% - 22px * 3) /4);
      min-width: 260px;
      border: 1px solid var(--color-blue);
      box-shadow: -16px -15px 0px 0px rgba(32, 139, 252, 1);
    }
    .slab-item-pic {
      height: 48px;
      aspect-ratio: 1/1;
    }
    .about-svg-one {
      background-image: url(../svg/about-1.svg);
      background-repeat: no-repeat;
      background-position: left;
      background-size: contain;
      width: 100%;
      height: 100%;
    }
    .about-svg-two {
      background-image: url(../svg/about-2.svg);
      background-repeat: no-repeat;
      background-position: left;
      background-size: contain;
      width: 100%;
      height: 100%;
    }
    .about-svg-three {
      background-image: url(../svg/about-3.svg);
      background-repeat: no-repeat;
      background-position: left;
      background-size: contain;
      width: 100%;
      height: 100%;
    }
    .about-svg-four {
      background-image: url(../svg/about-4.svg);
      background-repeat: no-repeat;
      background-position: left;
      background-size: contain;
      width: 100%;
      height: 100%;
    }
    .slab-item-title {
      padding-top: 4px;
      font-size: 16px;
      font-weight: 500;
      text-transform: uppercase;
      color: var(--color-blue);
    }
    .slab-item-description {
      padding-bottom: 41px;
      font-size: 16px;
      font-weight: 500;
      color: var(--color-black);
      max-width: 240px;
    }

    /* ---------- plus ------------ */

    .plus .contains {
      width: 100%;
      max-width: 1281px;
      margin: 0 auto;
      padding: 0 110px;
      overflow: hidden;
    }
    .box-plus {
      padding-top: 25px;
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      gap: 20px;
    }
    .plus-item {
      display: flex;
      justify-content: start;
      flex-wrap: wrap;
      align-items: center;
      gap: 25px;
    }
    .box-plus-right,
    .box-plus-left {
      display: flex;
      flex-direction: column;
      gap: 15px;
    }
    .plus-item-pic {
      width: 143px;
      height: 44px;
    }
    .plus-svg {
      background-image: url(../svg/plus.svg);
      background-repeat: no-repeat;
      background-position: left;
      background-size: contain;
      width: 100%;
      height: 100%;
    }
    .plus-item-text {
      text-align: center;
      font-size: 30px;
      font-weight: 400;
      max-width: 451px;
      line-height: 75%;
    }
    .plus-item-symbol {
      display: none;
    }

      /* ---------- questionnaire ------------ */

    .questionnaire .contains {
      width: 100%;
      max-width: 1281px;
      margin: 0 auto;
      padding: 0 110px;
      overflow: hidden;
    }
    .questionnaire-title {
      padding-top: 65px;
    }
    .questionnaire-title h3 {
      font-size: 36px;
      font-weight: 500;
      text-align: center;
      text-transform: uppercase;
    }
    .questionnaire-form {
      padding-top: 105px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      gap: 68px;
    }
    .questionnaire-form-top {
      display: flex;
      flex-direction:row;
      justify-content: center;
      font-size: 36px;
      font-weight: 400;
      text-align: center;
      text-transform: uppercase;
    }
    .questionnaire-form-middle {
      display: flex;
      flex-direction:row;
      justify-content: center;
      flex-wrap: wrap;
      gap: 120px;
      font-size: 32px;
      font-weight: 400;
      text-align: left;
      text-transform: uppercase;

    }
    .form-middle-left,
    .form-middle-right {
      display: flex;
      flex-direction: column;
      gap: 55px;
    }
    .form-middle-radio {
      display: flex;
      align-items: center;
      gap: 27px;
      min-width: 400px;
    }
    .questionnaire input {
      width: 35px;
      height: 35px;
      border-radius: 50%;
    }
    .questionnaire-form-bottom {
      padding: 45px 0 55px;
      display: flex;
      flex-direction:row;
      justify-content: end;
      align-items: center;
      gap: 36px;
      font-size: 18px;
      font-weight: 400;
    }
    .next {
      padding-right: 31px;
    }
    .next .btn {
      padding: 18px 110px;
      font-size: 18px;
      font-weight: 700;
      cursor: pointer;
      color: var(--color-white);
      background-color: var(--color-blue);
      border: none;
      border-radius: 8px;
    }
    .questionnaire {
      padding-top: 51px;
    } 
    .background-two {
      position: relative;
      color: var(--color-white);
      background-image: url(../img/foto.png);
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      width: 100%;
      height: 100%;
      z-index: 0;
    } 
    .background-two::after {
      content: '';
      position: absolute;
      background: #0C3661;
      opacity: 0.8;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: -1;
    }

    /* ---------- reviews ------------ */
  
    .reviews .contains {
      width: 100%;
      max-width: 1265px;
      margin: 0 auto;
      padding: 0 50px;
      overflow: hidden;
    }
    .reviews-title {
      padding-top: 50px;
    }
    .reviews-title h2 {
      font-size: 48px;
      font-weight: 400;
      text-align: center;
      text-transform: uppercase;
      color: var(--color-blue);
    }
    .reviews-body {
      padding-top: 76px;
      display: flex;
      flex-direction: row;
      justify-content: center;
      flex-wrap: wrap;
      gap: 25px;
    }
    .reviews-item {
      box-sizing: border-box;
      width: calc((100% - 25*2) / 3);
      min-width: 329px;
      aspect-ratio: 1/1;
      border: 3px solid var(--color-blue);

    }
    /* ---------- contacts ------------ */
  
    .contacts .contains {
      width: 100%;
      max-width: 1265px;
      margin: 0 auto;
      padding: 0 110px;
      overflow: hidden;
    }
    .contacts-title {
      padding-top: 50px;
    }
    .contacts-title h2 {
      font-size: 48px;
      font-weight: 400;
      text-align: center;
      text-transform: uppercase;
      color: var(--color-blue);
    }
    .contacts-body {
      padding-top: 20px;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      gap: 20px;
    }
    .adress,
    .phone {
      display: flex;
      flex-direction: column;
      gap: 15px;
    }
    .adress-title,
    .phone-title {
      display: flex;
      align-items: center;
      gap: 20px;
      color: var(--color-blue);
      font-size: 20px;
      font-weight: 400;
    }
    .adress-description,
    .phone-description {
      color: var(--color-black);
      font-size: 20px;
      font-weight: 400;
    }
    .adress-title-pic {
      width: 28px;
      height: 28px;
    }
    .phone-title-pic {
      width: 31px;
      height: 25px;
    }
    .adress-svg {
      background-image: url(../svg/adress.svg);
      background-repeat: no-repeat;
      background-size: cover;
      width: 100%;
      height: 100%;
    }
    .phone-svg {
      background-image: url(../svg/phone.svg);
      background-repeat: no-repeat;
      background-size: cover;
      width: 100%;
      height: 100%;
    }
   /* ---------- map and footer ------------ */
    footer {
      padding-top: 35px;
    }
    .footer-color {
      background-color: #244561;
    }
    footer .contains {
      width: 100%;
      max-width: 1281px;
      margin: 0 auto;
      padding: 0 50px;
      overflow: hidden;
    }
    .map {
      width: 100%;
    }
    .map img {
      width: 100%;
      height: 430px;
    }
    .footer {
      padding: 25px;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      row-gap: 5px;
      font-size: 16px;
      font-weight: 500;
      text-transform: uppercase;
      color: var(--color-white);
    }
    .footer-left {
      display: flex;
      flex-wrap: wrap;
      gap: 5px;
    }
    .footer-right a {
      color: var(--color-white);
    }

     /* ---------- feedback ------------ */

     .feedback {
      position: absolute;
      width: 100%;
      top: -8000px;
      left: 0;
      right: 0;
      box-sizing: border-box;
      transition: .5s;
    }
     .feedback .contains {
      width: 100%;
      max-width: 1281px;
      margin: 0 auto;
      padding: 0 110px;
      overflow: hidden;
    }
    .feedback-box {
      padding: 125px 0;
      position: relative;
    }
    .feedback-title {
      padding-top: 30px;
    }
    .feedback-title h3 {
      font-size: 36px;
      font-weight: 500;
      text-align: center;
      text-transform: uppercase;
    }
    .feedback-form {
      padding-top: 160px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      gap: 68px;
    }
    .feedback-form-top {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 110px;
    }
    .feedback-form-top input {
      font-size: 18px;
      font-weight: 400;
      padding: 18px 24px;
      border-radius: 8px;
      color: #D9D9D9;
      text-align: center;
      outline: none;
    }
    .feedback-form-bottom {
      padding-top: 101px;
      display: flex;
      justify-content: center;
    }
    .feedback-form-bottom .btn {
      padding: 18px 110px;
      font-size: 18px;
      font-weight: 700;
      cursor: pointer;
      color: var(--color-white);
      background-color: var(--color-blue);
      border: none;
      border-radius: 8px;
    }
    .feedback-close {
      position: absolute;
      font-size: 36px;
      font-weight: 500;
      top: 10px;
      right: 0px;
      cursor: pointer;
      text-transform: uppercase;
    }

    /* ---------- burger ------------ */

    .burger,
    .burger-checkbox {
      display: none;
    }
    .burger-menu {
      position: absolute;
      width: 100%;
      top: -8000px;
      left: 0;
      right: 0;
      box-sizing: border-box;
      transition: .5s;
    }
    .burger-menu .contains {
      width: 100%;
      max-width: 1281px;
      margin: 0 auto;
      padding: 0 110px;
      overflow: hidden;
    }
    .burger-menu-box {
      padding: 125px 0;
    }
    .burger-menu-nav {
      display: flex;
      justify-content: center;
    }
    .burger-menu .ul-top {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 10px;
      font-size: 30px;
      font-weight: 400;
      z-index: 1;
    }
    .burger-menu-close {
      position: absolute;
      cursor: pointer;
      font-size: 30px;
      font-weight: 500;
      top: 50px;
      right: 50px;
    }
    .background-three {
      color: var(--color-dark-blue);
      background-color: var(--color-white);
      opacity: 0.9;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      width: 100%;
      height: 100%;
      z-index: 0;
    } 